<p id="notice"><%= notice %></p>

<h1>Favorite Movies</h1>

<table class="table">
    <thead>
    <tr>
      <th>Movie</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @movie_favorites.each do |movie_favorite| %>
        <tr>
          <td><%= link_to movie_favorite.movie.title, movie_favorite.movie %></td>
          <td><%= movie_favorite.movie.rating %></td>
        </tr>
    <% end %>
    </tbody>
</table>